# Dependency directories
node_modules/
/.pnp
.pnp.js

# Build artifacts
dist/
/out-tsc

# Coverage reports
coverage/

# Logs
*.log*

# IDE and editors
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Temp files
tmp/
