name: CI

on:
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - master

env:
  NODE_VERSION: 20

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.os }}
    timeout-minutes: 5

    strategy:
      fail-fast: false

      matrix:
        platform:
          - { name: MacOS,   os: macOS-latest   }
          - { name: Linux,   os: ubuntu-latest  }
          - { name: Windows, os: windows-latest }

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: npm
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm ci

      - if: ${{ matrix.platform.name == 'Linux' }}
        name: Lint
        run: npm run check

      - name: Build
        run: npm run build --if-present

      - name: Test
        run: npm test
